

<div id="comments-section-{{ post.id }}" class="comments-section mt-2 p-2 border rounded bg-light" >
   
    {% for comment in post.comments %}
    <div class="d-flex align-items-start mb-2">
        <img src="{{ comment.name.photo.url }}" class="profile-pic-small me-2" alt="User">
        <div>
            hello
            <strong>{{ comment.name.name }}</strong>
            <p class="mb-1">{{ comment.comment_body }}</p>
            <small class="text-muted">{{ comment.date_added|date:"F d, Y" }}</small>
        </div>
    </div>
{% empty %}
    <p class="text-muted">No comments yet.</p>
{% endfor %}

</div>

{% comment %} style="display: none;" {% endcomment %}

